<IfModule mod_rewrite.c>
  RewriteEngine on
  
  # Redirect requests to /api to the api subdirectory (no rewrite)
  RewriteRule ^api - [L]

  # Redirect all other requests on seva.com to seva-consumer/www subdirectory
  RewriteRule ^(.*) ./seva-consumer/www/$1 [L]

  # Redirect requests from seva-provider subdomain to seva-provider/www/
  RewriteRule ^seva-provider/(.+) ./seva-provider/www/$1 [L]
</IfModule>
