<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="undefined" shape="round" id="profile-menu">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover trigger="profile-menu" dismissOnSelect="true">
      <ng-template>
        <ion-list>
          <ion-item (click)="appservice.logout()">
            <ion-label slot="start">
              <b>
                Logout
              </b>
            </ion-label>
            <ion-icon size="large" slot="end" name="power"></ion-icon>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-avatar class="profile-avatar">
    <img alt="Profile" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>

  <form
    [formGroup]="profileForm"
    (ngSubmit)="updateProfileDetail()"
  >
    <ion-list>
      <ion-item lines="none">
        <ion-input
          label="Name"
          formControlName="name"
          errorText="Valid name is required"
        ></ion-input>
      </ion-item>
      <ion-item class="item-padded">
        <span slot="start">
          D.O.B
        </span>
        <ion-datetime-button
          datetime="dob-datetime"
        ></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              id="dob-datetime"
              presentation="date"
              formControlName="dob"
            ></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          label="Email"
          formControlName="email"
          errorText="Valid email is required"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          label="Phone"
          formControlName="phone"
          errorText="Valid phone is required"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          label="Aadhar"
          formControlName="aadhar"
          errorText="Invalid aadhar input"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
          label="PAN"
          formControlName="pan"
          errorText="Invalid pan input"
        ></ion-input>
      </ion-item>
    </ion-list>
    <fieldset style="margin: 0 10px 0 10px">
      <legend>Emergency Contact</legend>
      <ion-list>
        <ion-item lines="none">
          <ion-input
            label="Name"
            formControlName="emergencyContactName"
            errorText="Invalid emergency contact name"
          ></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input
            label="Phone"
            formControlName="emergencyContactPhone"
            errorText="Invalid emergency contact number"
          ></ion-input>
        </ion-item>
      </ion-list>
    </fieldset>
    <ion-button
      expand="block"
      type="submit"
      style="margin: 10px"
    >
      Update
    </ion-button>
  </form>

</ion-content>
