.profile-avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}

.provider-profile-grid {
  ion-row {
    height: 200px;
  }
  ion-col {
    text-align: center;
    border: 1px solid grey;
  }
  ion-icon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }
  // ion-icon {
  //   font-size: large;
  // }
}
