<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="undefined" shape="round" (click)="appservice.logout()">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="profileForm">
    <ion-list>
      <ion-item>
        <ion-input
          formControlName="name"
          errorText="Valid name is required"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="phone"
          errorText="Valid phone is required"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="dob"
          errorText="Invalid DOB input"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="aadhar"
          errorText="Invalid aadhar input"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="pan"
          errorText="Invalid pan input"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="emergencyContactName"
          errorText="Invalid emergency contact name"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          formControlName="emergencyContactPhone"
          errorText="Invalid emergency contact number"
        ></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
